@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 1em 10em;
  position: fixed;
  background: white;
}

nav div {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: max-content;
}

.open, hr {
  display: none;
}

nav ul li {
  display: inline;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.6em;
  padding: 1em;
  color: hsl(257, 7%, 63%);
}

nav button {
  border: none;
  background: none;
  color: hsl(257, 7%, 63%);
  font-size: 1.5em;
  padding: 1em;
  font-family: Poppins;
}

button.signup {
  background: hsl(180, 66%, 49%);
  border-radius: 50px;
  padding: 0.5em 1em;
  color: white;
}

.banner {
  padding: 2em 0;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.hero {
  padding: 0 5em 2em 10em;
  width: 50%;

}

.hero h1 {
  font-size: 5em;
  line-height: 1.4;

  margin-bottom: 0.2em;
  color: hsl(257, 27%, 26%);
}

.hero p {
  font-size: 1.6em;
  margin-bottom: 2em;
  color: hsl(257, 7%, 63%);
}

.hero a {
  text-decoration: none;
  font-size: 1.5em;
  background: hsl(180, 66%, 49%);
  border-radius: 50px;
  padding: 0.5em 2em;
  color: white;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  object-fit: cover;
}

.submain {
  background: hsl(0, 0%, 75%);
  padding: 2em 10em;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.stats {
  max-width: 600px;
  text-align: center;
  margin: 5em 0;
}

.stats h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
  color: hsl(257, 27%, 26%);
}

.stats p {
  font-size: 1.6em;
  color: hsl(257, 27%, 26%);
}

.statistics {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 3em 0;
}

.break-down {
  background: white;
  padding: 3em;
  width: 35em;
  height: 30em;
  margin: 0 1em;
}

.break-down h3 {
  font-size: 2.5em;
  margin: 1em 0;
  color: hsl(257, 27%, 26%);
}

.break-down p {
  font-size: 1.4em;
  line-height: 1.7;
  color: hsl(257, 7%, 63%);
}

.statistics div:nth-child(2) {
  margin-top: 6em;
}

.statistics div:nth-child(3) {
  margin-top: 12em;
}

.icon {
  background: hsl(257, 27%, 26%);
  padding: 1.5em;
  width: 7.5em;
  height: 7.5em;
  border-radius: 50%;
  margin-top: -7em;
}
.records {
  width: 100%;
}

.shortener {
  width: 100%;
  background: url(./images/bg-shorten-desktop.svg);
  background-color: hsl(260, 8%, 14%);
  padding: 5em;
  margin-top: -7em;
  text-align: center;
}

.shortener input {
  width: 80%;
  height: 3em;
  font-size: 1.8em;
  border-radius: 0.5em;
  border: none;
  outline: none;
  padding: 0 1em;
}

.error {
  font-size: 1.4em;
  color: white;
}

.shortener button {
  width: 12em;
  height: 3.5em;
  background: hsl(180, 66%, 49%);
  color: white;
  font-size: 1.6em;
  border: none;
  border-radius: 0.5em;
  font-weight: 700;
}

.boost {
  background: url(./images/bg-boost-desktop.svg);
  padding: 5em;
  background-color: hsl(257, 27%, 26%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boost h4 {
  font-size: 3.5em;
  color: white;
  margin-bottom: 0.5em;
}

.boost a {
  text-decoration: none;
  color: white;
  background: hsl(180, 66%, 49%);
  border-radius: 30px;
  font-size: 1.6em;
  padding: 1em 3em;
}

footer {
  background: hsl(255, 11%, 22%);
  display: flex;
  justify-content: space-between;
  padding: 5em 10em;
}

footer h5 {
  font-size: 2em;
  color: white;
  margin-bottom: 2em;
}

footer li {
  margin: 1em 0;
  list-style: none;
}

footer a {
  text-decoration: none;
  color: hsl(257, 7%, 63%);
  font-size: 1.4em;
}

footer img {
  margin: 0 0.3em;
}

footer a:hover {
  color: hsl(180, 66%, 49%);
}

main {
  overflow: hidden;
  width: 100%;
}

.shortened {
  padding: 1em;
  background: white;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1.5em;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.input {
  color: black;
}

span.output {
  color: hsl(180, 66%, 49%);
}

.shortened button {
  font-size: 1.2em;
  border: none;
  background: hsl(180, 66%, 49%);
  color: white;
  width: 6em;
  height: 2em;
  border-radius: 0.5em;
}
/* 
.social:hover {
  color: hsl(180, 66%, 49%);
} */

@media (max-width: 768px) {
  nav {
    padding: 2em;
    display: block;
  }

  .banner {
    padding: 5em 2em;
    flex-direction: column-reverse;
    height: unset;
  }

  .hero {
    padding: 4em 0;
    width: unset;
    text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .shortened {
    display: block;
  }

  .out-copy {
    display: flex;
    margin-top: .5em;
    justify-content: space-between;
  }

  .hero p {
    max-width: 35em;
   width: 70%;
        
  }

  .hero-image {
    width: 100%;
    margin: 3em 0 0 0;
  }

  .hero-image img {
    width: 100%;
  }

  .submain {
    padding: 2em;
  }

  .shortener {
    padding: 4em 2em;
    text-align: center;
  }

  .shortener input {
    width: 90%;
    font-size: 1.5em;
  }

  .shortener button {
    width: 90%;
    height: 3em;
    margin-top: 0.5em;
  }

  .statistics {
    flex-wrap: wrap;
    justify-content: center;
  }

  .statistics div:nth-child(2) {
    margin-top: 6em;
  }

  .statistics div:nth-child(3) {
    margin-top: 6em;
  }

  .boost {
    text-align: center;
    padding: 4em 2em;
  }
}

@media (max-width:1024px) {

  .stats {
    padding: 5em;
  }

  .statistics div:nth-child(2) {
    margin-top: 6em;
  }

  .statistics div:nth-child(3) {
    margin-top: 6em;
  }


  .statistics {
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .break-down {
   min-width: 100%;
   height: unset;
  }
}

@media (max-width:940px) {
  .stats {
    padding: unset;
  }

  .statistics {
    padding: unset;
  }

  footer {
    padding: 4em;
    width: 100%;
    flex-wrap: wrap;
  }

  footer div {
    width: 50%;
    padding: 1em;

  }


  footer div:last-child {
    width: 100%;
    text-align: center;
  }
}

@media (max-width:600px){
html {
  font-size: 55%;
}

.hero p{
  width: 90%;
}

.hero a {
  padding: 1em 4em;
}

nav {
  padding: 2em;
  width: 100%;
}

  footer {
    padding: 2em;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  footer div {
    width: 100%;
  }

  footer div:first-child,  footer div:last-child {
    margin: 2em 0;
  }

  .statistics {
    margin: 4em 0;
  }

  .break-down {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
  }

.mobile {
  display: none;
    margin-top: 1em;
    width: 100%;
    background: hsl(257, 27%, 26%);
    text-align: center;
    padding: 3em;
    font-size: 1.4em;
    border-radius: 1em;
    font-weight: 700;
  }

  nav ul li{
    display: block;
    margin: 3em 0;
    width: 100%;
  }

  nav ul li a {
    color: white;
  }
 

  nav div {
    display: block;
    width: 100%;
  }

  .logopen {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .open {
    display: block;
    height: 2.5em;
  }

  hr {
    display: block;
    color: hsl(257, 7%, 63%);
  }

  nav button {
    display: block;
    width: 100%;
    margin: unset;
    margin: .5em 0;
    color: white;
    font-weight: 700;
  }
}
